{% extends 'layout.html' %}

{%- block title -%}
    Dailybbble - Delivering you Dribbble every morning
{%- endblock -%}

{% block content %}

    {% if subscribe -%}
        {% if subscribe_success -%}
            <div class='alert alert-success alert-dismissable'>
                <p class='lead'>
                    <i class='glyphicon glyphicon-ok-circle'></i>
                    You have successfully subscribed to the newsletter. Enjoy!</p>
            </div>
        {%- else -%}
            <div class='alert alert-danger'>
                <p class='lead'>
                    <i class='glyphicon glyphicon-minus-sign'></i>
                    Error while subscribing, check your e-mail address.</p>
            </div>
        {%- endif -%}
    {%- endif -%}
    {%- if not subscribe or subscribe_success == False -%}
    <form class="subscribe form-inline" role="form" method="POST" accept-charset="UTF-8"
        action='{{url_for('subscribe_form')}}'>

        {%- if not subscribe  -%}
        <p class='lead'>Get <mark>6 most liked designs in your inbox:</mark></p>
        {%- endif -%}
        <div class="form-group">
            <label class="sr-only" for="email">Email address</label>
            <input type="email" class="form-control input-lg" name="email"
                placeholder="Your email address">
        </div>
        <div class="form-group">
            <label class="sr-only" for="mode">Subscription type</label>
            <select class="form-control input-lg" name="mode">
              <option value="daily">every morning</option>
              <option value="weekly">every Saturday</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Subscribe <i class='glyphicon glyphicon-arrow-right'></i></button>
        <span class="help-block">You can unsubscribe any time, we do not spam.</span>
    </form>
    {%- endif -%}

    <p class='lead'>
        <br/><a href='{{url_for('archive_month',
                                year=today.year,
                                month=today.month)}}'>Browse archives</a>
        of popular shots on <a rel='nofollow' href='http://dribbble.com'>Dribbble</a>
        on a particular day or month. <br/>Subscribe the 
        <a href="{{url_for('rss2', _external=True)}}">daily RSS feed</a>.
        Use <a href='{{url_for('api_docs')}}'>API</a> to build apps.
    </p>


    <div class='day'>
        <h2>
            <a href='{{url_for('archive_day',
                                year=today.year,
                                month=today.month,
                                day=today.day)}}'>
                Here is what was popular on Dribbble yesterday:
            </a>
        </h2>

        {{ shots_listing(today_popular) }}
    </div> <!-- // day -->

    <div class='nav'>
        <a class='btn btn-default btn-lg btn-primary pull-right'
            href='{{url_for('archive_day', year=today.year, month=today.month, day=today.day)}}'>
            See more
            <i class='glyphicon glyphicon-arrow-right'></i>
        </a>
    </div><!-- // nav -->
{% endblock %}