{% extends 'layout.html' %}

{%- block title -%}
    Dailybbble | Archiving what is popular on Dribbble every day
{%- endblock -%}

{% block content %}
    <script type="text/javascript" src="http://sendgrid.com/newsletter/getSubscriptionWidget?p=gbcXZx0PJaTBc3E8NIgEoJYutY9GXEFJWPIYlciy9E%2BmbbPKpyMmErp1gU8qTvL0aa%2FfMh6c1FWIBAndQIMLT4RefifS%2BOhKVo53FsSPNcE%3D"> </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('form.subscribe').attr('action', $('.SG_widget_form').attr('action'));
            $('.SG_widget_form').remove();
        });
    </script>
    <form class="subscribe form-inline" role="form" method="POST">
        <p class='lead'>Get 6 most liked designs in your inbox every morning:</p>
        <div class="form-group">
            <label class="sr-only" for="email">Email address</label>
            <input type="email" class="form-control input-lg" name="SG_widget[email]" placeholder="Your email address">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Subscribe <i class='glyphicon glyphicon-arrow-right'></i></button>
        <span class="help-block">You can unsubscribe any time, we do not spam.</span>
    </form>

    <p class='lead'>
        <br/>Or you can <a href='{{url_for('archive_month',
                                year=today.year,
                                month=today.month)}}'>browse archives</a>
        of popular shots on <a rel='nofollow' href='http://dribbble.com'>Dribbble</a>
        on a particular day or month. Or use <a href='{{url_for('api_docs')}}'>API</a> to build apps.
    </p>


    <div class='day'>
        <h2>
            <a href='{{url_for('archive_day',
                                year=today.year,
                                month=today.month,
                                day=today.day)}}'>
                Here is what was popular on Dribbble yesterday:
            </a>
        </h2>

        {{ shots_listing(today_popular) }}
    </div> <!-- // day -->

    <div class='nav'>
        <a class='btn btn-default btn-lg btn-primary pull-right'
            href='{{url_for('archive_day', year=today.year, month=today.month, day=today.day)}}'>
            See more
            <i class='glyphicon glyphicon-arrow-right'></i>
        </a>
    </div><!-- // nav -->
{% endblock %}