{% extends 'base.html' %}
{% from 'macros/shots_listing.html' import shots_listing %}

{% block header %}
<div class='page-header'>
    <a href='{{url_for('home')}}' rel='home'><h1 class='site-logo'>
        DAILYBBBLE</h1></a>
</div>
{% endblock %}


{% block body %}
    {% block content %}
    <!-- filled by template page -->
    {% endblock %}
{% endblock %}


{% block footer %}
<div class="footer">
    <p class='text-muted'>This site is not affiliated with Dribbble LLC. Brought you by
    <a href='http://ahmetalpbalkan.com'>@ahmetalpbalkan</a>.
    All this shit is <a href="https://github.com/ahmetalpbalkan/dailybbble"
        rel="nofollow">open source</a>.
</p>

</div>
{% endblock %}