body {
    padding-bottom: 3.6em;
    line-height: 120%;
}

h2, h3, h4, h5, h6 {
    line-height: 140%;
    font-weight: 200;
}

.page-header h1 {
    font-size: 300%;
    font-weight: 100;
    letter-spacing: 1px;
}

.page-header a {
    color: rgb(234, 76, 137);
}

.page-header a:hover {
    text-decoration: none;
}

time.day a {
    color: inherit;
}


.shot {
    margin: 2em auto 0.5em auto;
}

.shot .meta {
    margin-top: 6px;
    color: #999;
    font-size: 85%;
}

.shot-small .artist {
    display: none;
}

.shot-small .meta {
    font-size: 80%;
}

.shot .meta a {
    color: #444;
}

.shot .avatar {
    width: 16px;
    margin-right: 4px;
}

.meta .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
    color: #ccc;
}

.calendar {
    margin-top: 3em;
    max-width: 480px;
    border: 0; /* override: bootstrap adding border on small devices */
}

.calendar .day {
    font-size: 200%;
    font-weight: lighter;
}

.calendar .day.disabled a {
    color: #ccc;
}

.calendar .day a:hover {
    text-decoration: none;
}

.shots .alert {
    max-width: 880px;
    font-size: 130%;
    line-height: 130%;
    margin-top: 2em;
    font-weight: lighter;
}

.footer {
    border-top: 1px solid #ddd;
    padding-top: 2em;
    margin-top: 4em;
    font-size: 90%;
}

.nav {
    padding-top: 2em;
    font-size: 120%;
}
