body {
    font-weight: 200;
    padding-top: 1em;
    padding-bottom: 5em;
}

h2, h3, h4, h5, h6 {
    font-weight: 200;
}

.header {
    margin-bottom: 1em;
}

.header a:hover {
    text-decoration: none;
}

time.day a {
    color: inherit;
}


.shot {
    margin: 2em auto 0.5em auto;
}

.shot .meta {
    margin-top: 6px;
    color: #999;
    font-size: 85%;
}

.shot-small .artist {
    display: none;
}

.shot-small .meta {
    font-size: 80%;
}

.shot .meta a {
    color: #444;
}

.shot .avatar {
    width: 16px;
    margin-right: 4px;
}

.meta .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
    color: #ccc;
}

.calendar {
    margin-top: 3em;
    max-width: 480px;
    border: 0; /* override: bootstrap adding border on small devices */
}

.calendar .day {
    font-size: 200%;
    font-weight: lighter;
}

.calendar .day.disabled a {
    color: #ccc;
}

.calendar .day a:hover {
    text-decoration: none;
}

.footer {
    margin-top: 5em;
    font-size: 90%;
}

.nav {
    padding-top: 2em;
    font-size: 120%;
}
