{% from 'macros/shot_box.html' import shot_box %}

{%- macro shots_listing(shots, big_shots = 6) -%}
<div class='shots'>
{%- for shot in shots -%}
    {% set i = loop.index0 %}
    {% set is_big = loop.index0 < big_shots %}
    {% set row_count = 3 if is_big else 6 %}

    {%- if (i-big_shots) % row_count == 0 -%}
        <div class='row'>
    {%- endif -%}

    {{ shot_box(shot, is_big, row_count) }}

    {%- if (i-big_shots) % row_count == row_count-1 or i+1 == (shots|length) %}
        </div><!-- // row -->
    {%- endif -%}
{%- else -%}
    <div class="alert alert-info">
        <p>
            <i class='glyphicon glyphicon-eye-close'></i>
            No shots have been discovered for this day yet. Check this page later
            or browse a previous date.
        </p>
    </div>
{%- endfor -%}
</div><!-- // shots -->
{%- endmacro -%}